.main-container {
  background-color: #fbfbfd;
  position: relative;
  padding: 15px;
  margin: 20px;
}

.hp-img {
  max-width: 35%;
  margin: 30px;
}

.tv-img {
  max-width: 35%;
  margin: 30px;
}

.ninja-img {
  max-width: 35%;
  margin: 30px;
}

.Ipad-img {
  max-width: 35%;
  margin: 30px;
}

.navbar-home:hover {
  color: yellow !important;
}

.navbar-HandPhone:hover {
  color: yellow !important;
}
